<%- include("partials/navbar.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">


    <div class="section-title about">
        <span>EDIT BLOG</span>
    </div>

    <form class="update-form"  action="/blog/edit/<%= blog.id %>" method="POST" enctype="multipart/form-data">
        <h2 class="form-inst">KINDLY FILL OUT THE FOLLOWING INFORMATION</h2>
        <input type="hidden" name="id" value="<%= blog.id %>">
        <div class="title-form">
            <label for="title" class="label title">Title</label>
            <input class="input" id="int-title" type="text" name="editTitle" value="<%= blog.title %>" required />
        </div>

        <div class="author-name">
            <label class="label name">Author Name</label>
            <div class="half">
                <div class="first-name">
                    <input class="input" type="text" name="editFname" value="<%= blog.fname %>" required>
                    <p class="name-label">First name</p>
                </div>

            </div>
            <div class="half">
                <div class="last-name">
                    <input class="input" type="text" name="editLname" value="<%= blog.lname %>" required>
                    <p class="name-label">Last name</p>
                </div>
            </div>
        </div>
        <div class="publication-form">
            <label for="publicationDate" class="label date">Publication Date</label>
            <input class="input" id="int-date" type="date" name="editPublicationDate" value="<%= blog.date %>" required />
        </div>
        <div class="upload-form">
            <label for="uploadFile" class="label file">Feature Image</label>
            <div class="image-upload">
                <!-- Show existing image -->
            <% if (blog.image) { %>
                <img src="<%= blog.image %>" alt="Current Feature Image" style="max-width: 200px; margin-bottom: 10px;">
              <% } %>
              <!-- Let user upload a new one -->
              <input class="input" id="int-file" type="file" name="editFeatureImage" />
              
              <!-- Hidden input to store the old image path if no new image uploaded -->
              <input type="hidden" name="existingImage" value="<%= blog.image %>">
            </div>
        
            
        </div>
        
        <div class="blog-form">
            <label for="blogContent" class="label blogcontent">Blog Content</label>
            <div class="editor-container">
                <div id="editor"></div>
                <input type="hidden" name="editContent" value="<%= blog.content %>" id="content" required>
            </div>

        </div>

        <input class="submit-btn" type="submit" value="UPDATE" />

    </form>

    <div class="section-divider">
        <div class="star-container">
            <img class="star" src="/images/star.png" />
            <img id="star" src="/images/star.png" />
            <img class="star" src="/images/star.png" />
        </div>
    </div>

    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });

        quill.root.innerHTML = `<%- blog.content %>`;

        document.querySelector("form").addEventListener('submit', function(e) {
    const htmlContent = quill.root.innerHTML;
    document.querySelector("#content").value = htmlContent;
  });
    </script>


    <%- include ("partials/footer.ejs") %>